

svg {
  position: absolute;
  top: 0;
  left: 0;
}

svg rect {
  stroke-dasharray: 400, 0;
  transition: all 0.6s ease-in-out;
}

svg rect, svg path, svg polyline {
  fill: none;
  stroke: @main-color;
  stroke-width: 3;
}

.btn {
  font-family: sans-serif;
  border: none;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn-start {
  width: 130px;
  height: 65px;
  margin: 15px auto;
  font-size: 1.15rem;
  text-align: center;
  position: relative;
  display: block;
  padding: 20px;
  background: @background-color;
  text-transform: uppercase;
  line-height: 1.5em;
  color: @main-color;
}

.btn-start:hover svg rect {
  stroke-width: 3;
  stroke-dasharray: 35, 245;
  stroke-dashoffset: 38;
  transition: all 0.6s ease-in-out;
}

@keyframes press {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(.95);
    }
}

.btn-start:active {
  color: @main-color-dark;
  animation-name: press;
  animation-direction: alternate;
  animation-duration: .1s;
}

.glowed {
  box-shadow: 0px 0px 10px @glow;

  &:hover {
   box-shadow: 0px 0px 10px @glow-light;
  }
}

.btn-game {
  width: 80px;
  height: 40px;
  font-size: .9rem;
  position: fixed;
  bottom: 170px;
  right: calc(~'50% - 385px');
  display: block;
  color: @main-color;
  background: @background-color;
  border: 1px solid @main-color;
  transition: all .2s;
}

.btn-game:hover:enabled {
  box-shadow: 0px 0px 5px @glow-lighter;
  background-color: @background-color-hover;
}

.btn-game:disabled {
  cursor: default;
  border: 1px solid @main-color-disabled;
  color: @main-color-disabled;
}
