.desk-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 800px;
  min-height: 500px;
  width: 100vw;
  height: 100vh;
}

.cards-block {
  position: absolute;
  width: 650px;
  display: flex;
}

.robots-cards-block {
  top: 20px;
}

.users-cards-block {
  bottom: 10px;
}

.cards-left-hint {
  position: absolute;
  top: 160px;
  left: 50px;
  color: @hint;
}

.deck {
  align-self: normal;
  display: flex;
  justify-content: flex-start;
  max-height: 180px;
  position: relative;
  top: calc(~'50% - 75px');
}

.trump-card {
  margin-left: 45px;
}

.deck-back {
  transform: translate(-100%, 25%) rotate(98deg);
}

.table-cards {
  position: absolute;
  display: flex;
}

.defend-card {
  transform: rotate(25deg);
  margin-right: 28px;
  margin-top: 8px;
  z-index: 5;
}

.attack-card {
  margin-right: 28px;
}

.button-block {
  margin-bottom: -80px;
}

.font-lg {
  font-size: @font-lg;
  letter-spacing: @letter-spacing;
}

.text-color-main {
  color: @main-color;
}

.small-dimensions-block {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.sad-icon {
  height: 140px;
  margin-top: 50px;
}

.github {
  position: fixed;
  left: 10px;
  top: 10px;
  height: 27px;
  width: 28px;
}
