.loo-table {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 800px;
  width: 100vw;
  height: 100vh;
}

.robots-card-block {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.users-card-block {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

.deck {
  align-self: normal;
  display: flex;
  justify-content: flex-start;
  max-height: 180px;
}

.trump-card {
  margin-left: 45px;
}

.deck-back {
  transform: translate(-100%, 25%) rotate(98deg);
}

.table-cards {
  margin-right: 25px;
  margin-left: calc(~'60% - 440px');
  display: flex;
}

.defend-cards {
  position: relative;
  left: -85px;
  transform: rotate(22deg);
}

.attack-cards {
  margin: 0 -50px;
}

.button-block {
  margin-bottom: -80px;
}

.message-block {
  position: absolute;
  top: 225px;
  width: 803px;
  text-align: end;
  color: white;
  letter-spacing: .1em;
  text-transform: uppercase;
}
