@background-color: rgb(218, 218, 218);
@background-color-hover: rgba(239, 223, 223, 0.5);

@black: black;
@white: white;

@gray: rgb(212, 212, 212);

@overlay: rgba(0, 0, 0, 0.5);

@main-color: rgb(206, 21, 69);
@main-color-light: rgba(234, 91, 128, 0.68);
@main-color-dark: rgb(173, 16, 56);
@main-color-disabled: rgb(212, 196, 200);

@glow: rgb(210, 61, 102);
@glow-light: rgb(167, 0, 0);
@glow-lighter: rgb(232, 136, 136);

@font-lg: 1.5rem;

@font-m: 1rem;
@letter-spacing: .05rem;
